.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_content {
    width: clamp(450px, 50%, 850px);
    height: clamp(550px, 50%, 900px);
    padding: 20px;
    border-radius: 12px;
    background-color: #b6e5d8;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    .active {
      transform: scale(1);
    }
    .mess {
      width: 100%;
      height: 90%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(8, 8, 8, 0.315);
      border-radius: 12px;
      overflow: auto;
      .one {
        width: 80%;
        margin-top: 3.5px;
        padding: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        font-size: 21px;
        background-color: #73ecfc;
        border: 1px solid rgb(156, 156, 156);
        border-radius: 35px;
      }
      .special {
        justify-content: end;
        flex-direction: row-reverse;
      }
      h5 {
        padding: 5px;
        border: 1px solid rgb(8, 8, 8);
        border-radius: 35px;
      }
    }
    .formchat {
      height: 10%;
      padding: 2px;
      background-color: transparent;
      border-top: 2px solid rgb(8, 8, 8);
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        justify-content: start;
        gap: 2px;
        textarea {
          width: 80%;
          height: 100%;
          padding: 4px;
          resize: none;
          font-size: 25px;
          border-radius: 30px;
        }
        button {
          width: 20%;
          height: 100%;
          padding: 5px;
          font-size: 25px;
          background-color: #73ecfc;
          color: rgb(8, 8, 8);
          border-color: whitesmoke;
          border-radius: 32px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            font-size: 30px;
          }
        }
      }
    }
  }
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
//done
