@mixin displayMixin() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  @include displayMixin();
  height: 500px;
  padding: 5px;
  border: 5px solid whitesmoke;
  border-radius: 20px;
  .about {
    width: 50%;
    height: 90%;
    padding: 20px;
    font-size: 23px;
    background-color: #73ecfcbb;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 19px;
    border-radius: 20px;
    color: #f3ece3;
    text-shadow: 3px 0px 3px whitesmoke, 0px 0px 15px grey;
  }
  .form {
    width: 50%;
    height: 90%;
    padding: 20px;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    h3 {
      font-size: 33px;
      color: #73ecfc;
    }
    div {
      padding: 10px;
      display: flex;
      i {
        font-size: 30px;
        color: #73ecfc;
      }
      input {
        border: none;
        border-bottom: 2px solid black;
        background-color: rgba(240, 248, 255, 0.219);
        font-size: 15px;
      }
      button {
        padding: 10px;
        background-color: #73ecfc;
        border-color: whitesmoke;
        border-radius: 20px;
        color: #f3ece3;
        &:hover {
          font-size: medium;
        }
      }
      a {
        text-decoration: underline;
        color: #73ecfc;
        margin-left: 20px;
        margin-top: 5px;
      }
    }
  }
}
@media (max-width: 550px) {
  .block {
    flex-wrap: wrap;
    border: none;
    .about {
      width: 70%;
      font-size: 15px;
      height: 50%;
    }
    .form {
      width: 80%;
      height: 60%;
      input {
        font-size: 12px;
      }
    }
  }
}
//done